@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: theme(colors.base-200);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme(colors.neutral);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
